/*Robot font added - Jose*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

/*Ubuntu font added - Jose*/

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-style: italic;
}
/*body color*/
body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 115, 0);
    padding-bottom: 40px;
    padding-top: 40px;
}

#main-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*css for navbar mobile friendly*/
ul {
    overflow: hidden;
    background-color: #219EBC;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

/*MxD page css --will change later so it doesnt mess up everyone elses page*/
h1{
    font-weight: bold;
    text-align: left;
    font-size: 80px;
    color:  rgb(255, 115, 0);
        font-family: 'Ubuntu',sans-serif;
        font-weight: bold;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 4px;
}
h4{
    font-weight: bolder;
    padding-top: 20px;
    font-family: 'Ubuntu',sans-serif;
    color: #219EBC;
}
section{
    border: none;
    padding-top: 20px;
    margin-bottom: 20px;
}
section h1{
    font-size: 40px;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 2px;
}
img {
    height: 100px;
}
