@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: thin;
}
