/*Robot font added - Jose*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: thin;
}

/*Ubuntu font added - Jose*/

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-style: italic;
}

/*css for navbar mobile friendly*/
ul {
    overflow: hidden;
    background-color: #FFB703;
}

li {
    float: left;
}

li a {
    display: block;
    color: #92520a;
    text-align: center;
    padding: 20px 16px;
    font-size: 50px;
    text-decoration: none;
}

/*MxD page css --will change later so it doesnt mess up everyone elses page*/
h1{
    font-weight: bold;
    text-align: center;
}
h4{
    font-weight: bolder;
    padding-top: 20px;

}
section{
    border: 2px solid;
    background-color: #219EBC;
    padding-top: 20px;
}
section p{
    color: #023047;
}
body{
    background-color: #8ECAE6
}