/*Robot font added - Jose*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

/*Ubuntu font added - Jose*/

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-style: italic;
}
/*body color*/
body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 115, 0);
    padding-bottom: 40px;
    padding-top: 40px;
}

#main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*Navigation section*/
header {
overflow: hidden;
background-color: #219EBC;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
padding-top: 0;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 30px 16px;
text-decoration: none;
font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
font-weight: bold;
}

/*Logo sizing*/
#logo {
    background-color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    float: left;
}

#logo h2 {
    color: rgb(255, 115, 0);
    display: center;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

#logo p {
    font-size: 12px;
    text-align: center;
}

/*Hamburger Menu section*/
.hamburger {
    display: block;
    width: 40px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    float: right;
    margin-top: 30px;

}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: #219EBC;
    margin-top: 142px;
    transition: 0.4s;
    z-index: 98;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #023047;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 30px;
}

@media (max-width: 820px) {
    body {
        background-color: #219EBC;
    }

    #main-container {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    nav ul {
        display: none;
    }
}

img {
    display: block;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

/*MxD page css --will change later so it doesnt mess up everyone elses page*/
h1{
    font-weight: bold;
    text-align: left;
    font-size: 80px;
    color:  rgb(255, 115, 0);
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: 4px;
}
h3{
    color:  rgb(255, 115, 0);
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

h4{
    font-weight: bolder;
    padding-top: 20px;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
    font-size: 35px;
}

section{
    border: none;
    padding-top: 20px;
    margin-bottom: 20px;
}
section h1{
    font-size: 40px;
}
p{
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 4px;
}

/*adjust sizes for input boxes*/
#first_name, #last_name, #phone_number, #email{
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 55px;
    font-size: 35px;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    border: solid;
}

#first_name1, #last_name1, #phone_number1, #email1, #request1 {
    font-weight: bolder;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}

/*adjust the sign up button to match with the orange background color*/

#sign_up {
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
    display: block;
    margin-top: 20px;
    width: 45%;
    height: 45%;
    font-size: 35px;
}

#request1 {
    margin-bottom: 5px;
}

#output {
    display: none;
}

#request {
    margin-bottom: 10px;
    display: block;
    height: 45%;
    font-size: 35px;
    border: solid;
    width: 45%;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    transform: scale(2);
}

#message {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 35px;
}

.about_text p {
    padding-bottom: 10px;
}

/*vertically align input boxes*/
form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*adjusting login page*/
.form-container{
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 50px;
}

#femail {
    margin-bottom: 20px;
    padding-left: 5px;
}

#lpass {
    margin-bottom: 20px;
    padding-left: 5px;
}

#plogin{
    font-size: 45px;
}

/* Two Media Queries*/
/*ipad*/
@media (min-width: 768px){
    li a:hover{
        background-color: #023047;
        color: white;
    }

    img {
        margin: 0;
    }
    
    h2{
        font-size: 30px;
    }

    .form-container{
        font-size: 35px;
    }
    
    #plogin{
        font-size: 30px;
    }

    li a{
        font-size: 28px;
    }
    
}

/*Create media query for larger screens*/
@media (min-width: 820px) {
    #first_name, #last_name, #phone_number, #email {
        width: 45%;
    }

    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

}

/*Laptop*/
@media (min-width: 992px){
    /*nav bar*/
    li a:hover{
        background-color: #023047;
        color: white;
    }

    img {
        margin: 0;
    }

    #first_name, #last_name, #phone_number, #email{
        font-size: 20px;
    }
    
    #first_name1, #last_name1, #phone_number1, #email1, #request1 {
        font-size: 20px;
    }
    
    #sign_up {
        font-size: 20px;
    }

    .form-container{
        font-size: 40px;
    }
    
    #plogin{
        font-size: 30px;
    }
}

