/*Robot font added - Jose*/
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

/*Ubuntu font added - Jose*/

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "ubuntu";
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-style: italic;
}
/*body color*/
body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 115, 0);
    padding-bottom: 40px;
    padding-top: 40px;
}

#main-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

ul {
    overflow: hidden;
    background-color: #219EBC;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    font-size: 50px;
    text-decoration: none;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img {
    display: block;
    width: 100%;
    margin: auto;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

/*MxD page css --will change later so it doesnt mess up everyone elses page*/
h1{
    font-weight: bold;
    text-align: left;
    font-size: 80px;
    color:  rgb(255, 115, 0);
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    margin-top: 4px;
}
h3{
    color:  rgb(255, 115, 0);
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

h4{
    font-weight: bolder;
    padding-top: 20px;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
}
section{
    border: none;
    padding-top: 20px;
    margin-bottom: 20px;
}
section h1{
    font-size: 40px;
}
p{
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 2px;
}

/*adjust sizes for input boxes*/
#first_name, #last_name, #phone_number, #email{
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#first_name1, #last_name1, #phone_number1, #email1, #request1 {
    font-weight: bolder;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*adjust the sign up button to match with the orange background color*/

#sign_up {
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    color: #219EBC;
    display: block;
    margin-top: 10px;
}

#request1 {
    margin-bottom: 5px;
}

#output {
    display: none;
}

#request {
    margin-bottom: 10px;
    display: block;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

#message {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 2px;
}

/*vertically align input boxes*/
form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Two Media Queries*/
/*ipad*/
@media (min-width: 768px){
    li a:hover{
        background-color: #023047;
        color: white;
    }

    img {
        margin: 0;
    }
}
  
/*Laptop*/
@media (min-width: 992px){
    /*nav bar*/
    li a:hover{
        background-color: #023047;
        color: white;
    }

    img {
        margin: 0;
    }
}

/*Create media query for larger screens*/
@media (min-width: 600px) {
    #first_name, #last_name, #phone_number, #email {
        width: 45%;
    }
}